<div class="header">
    <div class="cont1-navbar">
        <div class="profile-navbar">
                <img src="assets/images/plus.png" alt="">
                <img src="assets/images/bell1.png" alt="">
                <img src="assets/images/user-profile.png" class="dropdown" routerLink="/">
                <div class="profile-info">
                    <h5>Loreto</h5>
                    <h5><span>Admin Account</span></h5>
            </div>
        </div>
    </div>
  </div>
  <div class="details-main-content">
    <div class="navbar">

      <div class="title-navbar">
         <h1>Vis<span>Go</span></h1>
         <h5>Camella Homes</h5>
      </div>

      <div class="button-navbars-cont-navbar">
        <div class="button-navbar" routerLink="/userPages/dashboard" routerLinkActive="clicked">
            <img src="assets/images/dashboard.png" alt="">
            <p>Dashboard</p>
        </div>
        <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/logbook">
            <img src="assets/images/logbook.png" alt="">
            <p>System Management</p>
        </div>
        <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/scheduled">
            <img src="assets/images/schedule.png" alt="">
            <p>reports</p>
        </div>
        <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/pending">
            <img src="assets/images/pending.png" alt="">
            <p>Scheduled Visits </p>
        </div>
        <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/location">
            <img src="assets/images/location.png" alt="">
            <p>Logbook</p>
        </div>
      </div>

        <div class="img-navbar" routerLink="/userPages/dashboard" routerLinkActive="unhide">
            <img src="assets/images/dashboard-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/logbook" routerLinkActive="unhide">
            <img src="assets/images/logbook-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/scheduled" routerLinkActive="unhide">
            <img src="assets/images/schedule-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/pending" routerLinkActive="unhide">
            <img src="assets/images/pending-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/location" routerLinkActive="unhide">
            <img src="assets/images/location-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/profile" routerLinkActive="unhide">
            <img src="assets/images/profile-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/create-invite" routerLinkActive="unhide">
            <img src="assets/images/createinvite.jpg" alt="">
        </div>
      </div>

    <div class="title">
      <img src="assets/images/logbook.png" alt="">
      <h1>Details of Visits</h1>
    </div>
    <hr>
    <div class="details-cont1">
      <div class="box-align1">
        <h1>Host:</h1>
        <li>Name:<span>Daniel Maceda</span></li>
        <li>Account ID:<span>123456789</span></li>
      </div>
      <div class="box-align2">
        <li>Email:<span>danielmaceda123@gmail.com</span></li>
        <li>Phone Number:<span>123456789</span></li>
      </div>
    </div>
    <hr>
    <div class="details-cont2">
      <div class="box-align3">
        <h1>Visitor:</h1>
        <li>Name:<span>Daniel Maceda</span></li>
        <li>Account ID:<span>123456789</span></li>
      </div>
      <div class="box-align4">
        <li>Email:<span>danielmaceda123@gmail.com</span></li>
        <li>Phone Number:<span>123456789</span></li>
      </div>
    </div>
    <hr>
    <div class="details-cont3">
      <div class="box-align5">
        <li>Purpose of Visit:<span>Family Gathering</span></li>
        <li>Date of Check-in:<span>April 23, 2023</span></li>
        <li>Check-in (Village):<span>12:00pm</span></li>
        <li>Check-in (House):<span>12:15pm</span></li>
        <li>Number of Visitors:<span>10</span></li>
        <li>Duration:<span>10hrs</span></li>
      </div>
      <div class="box-align6">
        <li>Status of Visit:<span>Visit Completed</span></li>
        <li>Date of Check-out:<span>April 23, 2023</span></li>
        <li>Check-out(Village):<span>4:00pm</span></li>
        <li>Check-out(House):<span>3:40pm</span></li>
        <li>Relationship:<span>Family</span></li>
        <li>Transaction ID:<span>123456789</span></li>
      </div>
    </div>
  </div>