<div class="header">
    <div class="cont1-navbar">
        <div class="profile-navbar">
                <img src="assets/images/plus.png" alt="">
                <img src="assets/images/bell1.png" alt="">
                <img src="assets/images/user-profile.png" class="dropdown" routerLink="/">
                <div class="profile-info">
                    <h5>Loreto</h5>
                    <h5><span>Admin Account</span></h5>
            </div>
        </div>
    </div>
  </div>
  <div class="navbar">

    <div class="title-navbar">
       <h1>Vis<span>Go</span></h1>
       <h5>Camella Homes</h5>
    </div>

    <div class="button-navbars-cont-navbar">
      <div class="button-navbar" routerLink="/userPages/dashboard" routerLinkActive="clicked">
          <img src="assets/images/dashboard.png" alt="">
          <p>Dashboard</p>
      </div>
      <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/logbook">
          <img src="assets/images/logbook.png" alt="">
          <p>System Management</p>
      </div>
      <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/scheduled">
          <img src="assets/images/schedule.png" alt="">
          <p>reports</p>
      </div>
      <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/pending">
          <img src="assets/images/pending.png" alt="">
          <p>Scheduled Visits </p>
      </div>
      <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/location">
          <img src="assets/images/location.png" alt="">
          <p>Logbook</p>
      </div>
    </div>

      <div class="img-navbar" routerLink="/userPages/dashboard" routerLinkActive="unhide">
          <img src="assets/images/dashboard-design.jpg" alt="">
      </div>
      <div class="img-navbar" routerLink="/userPages/logbook" routerLinkActive="unhide">
          <img src="assets/images/logbook-design.jpg" alt="">
      </div>
      <div class="img-navbar" routerLink="/userPages/scheduled" routerLinkActive="unhide">
          <img src="assets/images/schedule-design.jpg" alt="">
      </div>
      <div class="img-navbar" routerLink="/userPages/pending" routerLinkActive="unhide">
          <img src="assets/images/pending-design.jpg" alt="">
      </div>
      <div class="img-navbar" routerLink="/userPages/location" routerLinkActive="unhide">
          <img src="assets/images/location-design.jpg" alt="">
      </div>
      <div class="img-navbar" routerLink="/userPages/profile" routerLinkActive="unhide">
          <img src="assets/images/profile-design.jpg" alt="">
      </div>
      <div class="img-navbar" routerLink="/userPages/create-invite" routerLinkActive="unhide">
          <img src="assets/images/createinvite.jpg" alt="">
      </div>
    </div>
  <div class="main-content">
    <div class="title">
      <img src="assets/images/logbook.png" alt="">
      <h1>Scheduled Visit Details</h1>
    </div>
    <hr>
    <div class="sub-cont1">
      <div class="left1">
        <h1>Host</h1>
        <li>Name:<span>Daniel Maceda</span></li>
        <li>Account ID:<span>123456789</span></li>
        <li>Email:<span>danielmaceda123@gmail.com</span></li>
        <li>Phone Number:<span>123456789</span></li>
      </div>
      <div class="right1">
        <h1>Visitor</h1>
        <li>Name:<span>Daniel Maceda</span></li>
        <li>Account ID:<span>123456789</span></li>
        <li>Email:<span>danielmaceda123@gmail.com</span></li>
        <li>Phone Number:<span>123456789</span></li>
      </div>
    </div>
    <hr>
    <div class="sub-cont2">
      <div class="left2">
        <li>Purpose of Visit:<span>Family Gathering</span></li>
        <li>Date of Visit:<span>April 13, 2023</span></li>
        <li>How many Person:<span>5</span></li>
        <li>Status of Visit:<span>On Going</span></li>
      </div>
      <div class="right2">
        <div class="img-container">
          <img src="assets/images/QR.png" alt="">
        </div>
        <div class="caption">
          Transaction ID:<br><span>123456789</span>
        </div>
      </div>
    </div>
  </div>