<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="background-pic"></div>

    <div class="title-cont">
        <h1>Vis<span>Go</span></h1>
        <div class="register-pic"> </div>
    </div>

    <div class="main-cont">
        <div class="sub-cont1">
            <p>Already have account? <span routerLink="/VisitorLogin">Sign in here!</span></p>
            <p>Create account as a Host? <span routerLink="/HomeOwnerRegistration">Sign up here!</span></p>
            <h1>Create an <span>Visitor Account</span></h1>
        </div>

        <div class="sub-cont2">

            <form [formGroup]="registrationFormVisitor" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="name"><b>Name <span>(FN & LN)</span></b></label>
                    <input type="text" formControlName="name">

                    <div class="alert" *ngIf="fc.name.invalid && (fc.name.dirty || fc.name.touched)">
                        <div *ngIf="fc.name.errors?.['required']">
                            Name is required.
                        </div>
                        <div *ngIf="fc.name.errors?.['minlength']">
                            Name must be at least 5 characters long.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email"><b>Email</b></label>
                    <input type="text" name="email" formControlName="email">

                    <div class="alert" *ngIf="fc.email.invalid && (fc.email.dirty || fc.email.touched)">
                        <div *ngIf="fc.email.errors?.['required']">
                            Email is required.
                        </div>
                        <div *ngIf="fc.email.errors?.['pattern']">
                            Invalid Email Ex. email@gmail.com
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" name="uname" formControlName="uname">

                    <div class="alert" *ngIf="fc.uname.invalid && (fc.uname.dirty || fc.uname.touched)">
                        <div *ngIf="fc.uname.errors?.['required']">
                            Username is required.
                        </div>
                        <div *ngIf="fc.uname.errors?.['minlength']">
                            Username must be at least 5 characters long.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="pass"><b>Password</b></label>
                    <input type="password" name="pass" formControlName="pass">

                    
                    <div class="alert" *ngIf="fc.pass.invalid && (fc.pass.dirty || fc.pass.touched)">
                        <div *ngIf="fc.pass.errors?.['required']">
                            Password is required.
                        </div>
                    </div>
                </div>

                <div class="form-group">      
                    <label for="con-pass"><b>Confirm Password</b></label>
                    <input type="password" name="con-pass" formControlName="conPass">
                    <div class="alert" *ngIf="fc.conPass.invalid && (fc.conPass.dirty || fc.conPass.touched)">
                        <div *ngIf="fc.conPass.errors?.['required']">
                            Confirm your Password.
                        </div>
                    </div>
                </div>

                <label class="label">
                    <input type="checkbox">
                    <div class="customCheckbox"></div>
                    <p>Creating your account and accepting the <span>Terms & Condition.</span> </p>
                </label>

                <button class="create-btn" type="submit" [disabled]="registrationFormVisitor.invalid" >Create Account</button>

            </form>

        </div>
    </div>
</body>
</html>