

    
        <div class="cont2">
            
            <div class="title-cont">
                <div class="title">
                    <img src="../../../assets/images/logbook.png" alt="">
                    <h2>Details of Visits</h2>
                </div>
            </div>
    
            <div class="contents-cont">
    
                <ul class="content">
                    <div class="col1">
                        <li>Visitor's Name: <span> {{logbookData.name}} </span> </li>
                        <li>Email: <span> {{logbookData.email}} </span> </li>
                        <li>Phone Number: <span>  {{logbookData.number}} </span> </li>
                        <li>Purpose: <span>  {{logbookData.purpose}} </span> </li>
                        <li>Relationship: <span>  Family </span> </li>
                        <li>Transaction ID:<span>  {{logbookData.id}} </span> </li>
                    </div>
                    <div class="col2">
                        <li>Date of CIn: <span>  {{logbookData.dci |date}}</span> </li>
                        <li>Time In: <span>  {{logbookData.timeIn}}</span> </li>
                        <li>Date of COut: <span> {{logbookData.dco | date}} </span> </li>
                        <li>Time out: <span>  {{logbookData.timeOut}}</span> </li>
                        <li>Duration: <span> 8 hours </span> </li>
                        <li>Status of Visit: <span>  {{logbookData.status}}</span> </li>
                    </div>
                </ul>
                    
            </div>
        </div>
