
<div class="main-cont">

    <div class="sub-cont">
        <div class="cont1">
            <div class="back-btn">
                <img src="../../../../assets/images/back-button.png" alt="" routerLink="/userPages/dashboard">
            </div>

            <div class="profile">
                <img src="../../../../assets/images/plus.png" alt=""  routerLink="/userPages/create-invite">
                <img src="../../../assets/images/bell1.png" alt="">
                <img src="../../../assets/images/user-profile.png" class="dropdown" routerLink="/">
                <div class="profile-info">
                    <h5>Loreto</h5>
                    <h5><span>Host Account</span></h5>
                </div>
            </div>
        </div>
    
        <div class="cont2">
            
            <div class="title-cont">
                <div class="title">
                    <img src="../../../assets/images/logbook.png" alt="">
                    <h2>Details of Visits</h2>
                </div>
            </div>
    
            <div class="contents-cont">
    
                <ul class="content">
                    <div class="col1">
                        <li>Visitor's Name: <span> Barack Obama </span> </li>
                        <li>Account ID: <span> 123456789 </span> </li>
                        <li>Email: <span> Barackobama@gmail.com </span> </li>
                        <li>Phone Number: <span> 1234567489 </span> </li>
                        <li>Purpose: <span> Family Gathering </span> </li>
                        <li>Number Visitor: <span>123456789 </span> </li>
                        <li>Date of check in:<span> April 13,2023 </span> </li>
                    </div>
                    <div class="col2">
                        <li>Check in: <span> 12:00nn </span> </li>
                        <li>Date of check out: <span> April 13,2023 </span> </li>
                        <li>Check out: <span> 12:00nn </span> </li>
                        <li>Duration: <span> 8 hours </span> </li>
                        <li>Status of Visit: <span> On Going </span> </li>
                        <li>Relationship: <span> Family </span> </li>
                        <li>Transaction ID: <span> April 24,2023 </span> </li>
                    </div>
                </ul>
                    
            </div>
        </div>
    </div>

</div>
