<div class="main-cont">

    <div class="sub-cont">
        <div class="cont1">
            <div class="profile">
                    <img src="../../../../assets/images/plus.png" alt="">
                    <img src="../../../assets/images/bell1.png" alt="">
                    <img src="../../../assets/images/user-profile.png" class="dropdown" routerLink="/">
                    <div class="profile-info">
                        <h5>Loreto</h5>
                        <h5><span>Host Account</span></h5>
                </div>
            </div>
        </div>

        <div class="cont2">

            <div class="content">
                <h1>20</h1>
                <div>
                    <img class="calendar-img" src="../../../../assets/images/date-picker.png" alt="">
                    <h5>April</h5>
                </div>
                <img class="icon" src="../../../../assets/images/user.png" alt="">
                <h5>Monthly Total Visitors</h5>
            </div>
            <hr>
            <div class="content">
                <h1>20</h1>
                <div>
                    <img class="calendar-img" src="../../../../assets/images/date-picker.png" alt="">
                    <h5>April</h5>
                </div>
                <img class="icon" src="../../../../assets/images/user.png" alt="">
                <h5>Monthly Total Visitors</h5>
            </div>
            <hr>
            <div class="content">
                <h1>20</h1>
                <div>
                    <img class="calendar-img" src="../../../../assets/images/date-picker.png" alt="">
                    <h5>April</h5>
                </div>
                <img class="icon" src="../../../../assets/images/user.png" alt="">
                <h5>Monthly Total Visitors</h5>
            </div>
            <hr>
            <div class="content">
                <h1>20</h1>
                <div>
                    <img class="calendar-img" src="../../../../assets/images/date-picker.png" alt="">
                    <h5>April</h5>
                </div>
                <img class="icon" src="../../../../assets/images/user.png" alt="">
                <h5>Monthly Total Visitors</h5>
            </div>
            <hr>
        </div>

        <div class="cont3">
            <div class="recent-content">
                <div class="recent-title">
                    <img class="recent-img"src="../../../../assets/images/history.png" alt="">
                    <h1>Recent Visitors</h1>
                </div>

                <div class="table">
                    <table>
                        <tr>
                            <th class="name">Visitor's Name</th>
                            <th class="email">Email</th>
                            <th>Date</th>
                        </tr>

                        <tr>
                            <td class="name">George Washington</td>
                            <td class="email">georgewashington@gmail.com</td>
                            <td>12/04/2023</td>
                        </tr>
                        <tr>
                            <td class="name">George Washington</td>
                            <td class="email">georgewashington@gmail.com</td>
                            <td>12/04/2023</td>
                        </tr>
                        <tr>
                            <td class="name">George Washington</td>
                            <td class="email">georgewashington@gmail.com</td>
                            <td>12/04/2023</td>
                        </tr>
                        <tr>
                            <td class="name">George Washington</td>
                            <td class="email">georgewashington@gmail.com</td>
                            <td>12/04/2023</td>
                        </tr>
                        <tr>
                            <td class="name">George Washington</td>
                            <td class="email">georgewashington@gmail.com</td>
                            <td>12/04/2023</td>
                        </tr>
                        <tr>
                            <td class="name">George Washington</td>
                            <td class="email">georgewashington@gmail.com</td>
                            <td>12/04/2023</td>
                        </tr>
                        <tr>
                            <td class="name">George Washington</td>
                            <td class="email">georgewashington@gmail.com</td>
                            <td>12/04/2023</td>
                        </tr>
                        <tr>
                            <td class="name">George Washington</td>
                            <td class="email">georgewashington@gmail.com</td>
                            <td>12/04/2023</td>
                        </tr>
                        <tr>
                            <td class="name">George Washington</td>
                            <td class="email">georgewashington@gmail.com</td>
                            <td>12/04/2023</td>
                        </tr>
                        <tr>
                            <td class="name">George Washington</td>
                            <td class="email">georgewashington@gmail.com</td>
                            <td>12/04/2023</td>
                        </tr>
                        <tr>
                            <td class="name">George Washington</td>
                            <td class="email">georgewashington@gmail.com</td>
                            <td>12/04/2023</td>
                        </tr>
                        <tr>
                            <td class="name">George Washington</td>
                            <td class="email">georgewashington@gmail.com</td>
                            <td>12/04/2023</td>
                        </tr>
                        <tr>
                            <td class="name">George Washington</td>
                            <td class="email">georgewashington@gmail.com</td>
                            <td>12/04/2023</td>
                        </tr>
                        <tr>
                            <td class="name">George Washington</td>
                            <td class="email">georgewashington@gmail.com</td>
                            <td>12/04/2023</td>
                        </tr>
                    </table>
                </div>   

            </div>
        </div>

    </div>

</div>