*{
    background-color: var(--white);
}

h1,h2,h3,h4,h5{
    margin: 0;
    font-family: 'Lexend', sans-serif;
    line-height: 100%;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.form-field{
    width: 100%;
}

.cont{
    padding-top: 10px;
    padding-bottom: 0;
}

.action{
    padding: 0 25px 20px;
}

.action button{
    flex: 1;
}

.title{
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.title h5, .title h1{
    font-family: 'Lexend', sans-serif;
}

.title h1{
    font-size: 8vw;
    font-weight: 600;
}

.title h5{
    font-size: 3vw;
}

@media (min-width: 640px) {
    .row{
        flex-direction: row;
        gap:10px;
    }

    .title h1{
        font-size: 2vw;
    }
    
    .title h5{
        font-size: 1vw;
    }
}
