<div class="main-cont">

    <div class="sub-cont1">
        <h1>Create Invites</h1>
        <h5>You will be sent a confirmation notification when
            your reservation has been confirmed</h5>
        <form class="form-cont"  [formGroup]="inviteForm" (ngSubmit)="onFormSubmit()" >
            <div class="flex-cont">
                <div class="col1">
                    <div class="form-group">
                        <div class="input-cont">
                            <input type="text" formControlName="name" required>
                            <span class="label-span">name of visitor</span>
                            <!-- <div class="alert" *ngIf="fc.name.invalid && (fc.name.dirty)">
                                <div *ngIf="fc.name.errors?.['required']">
                                    Name is required.
                                </div>
                                <div *ngIf="fc.name.errors?.['minlength']">
                                    Name must be at least 5 characters long.
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-cont">
                            <input type="tel" formControlName="number" required>
                            <span class="label-span">Phone# of visitor</span>
                            <!-- <div class="alert" *ngIf="fc.name.invalid && (fc.name.dirty)">
                                <div *ngIf="fc.name.errors?.['required']">
                                    Name is required.
                                </div>
                                <div *ngIf="fc.name.errors?.['minlength']">
                                    Name must be at least 5 characters long.
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-cont">
                            <input type="date" formControlName="date" required>
                            <span class="label-span">Date of Visit</span>
                            <!-- <div class="alert" *ngIf="fc.name.invalid && (fc.name.dirty)">
                                <div *ngIf="fc.name.errors?.['required']">
                                    Name is required.
                                </div>
                                <div *ngIf="fc.name.errors?.['minlength']">
                                    Name must be at least 5 characters long.
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="col2">
                    <div class="form-group">
                        <div class="input-cont">
                            <input type="email" formControlName="email" required>
                            <span class="label-span">email of visitor</span>
                            <!-- <div class="alert" *ngIf="fc.name.invalid && (fc.name.dirty)">
                                <div *ngIf="fc.name.errors?.['required']">
                                    Name is required.
                                </div>
                                <div *ngIf="fc.name.errors?.['minlength']">
                                    Name must be at least 5 characters long.
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-cont">
                            <input type="text" formControlName="purpose" required>
                            <span class="label-span">purpose of visit</span>
                            <!-- <div class="alert" *ngIf="fc.name.invalid && (fc.name.dirty)">
                                <div *ngIf="fc.name.errors?.['required']">
                                    Name is required.
                                </div>
                                <div *ngIf="fc.name.errors?.['minlength']">
                                    Name must be at least 5 characters long.
                                </div>
                            </div> -->
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <div class="input-cont">
                            <input type="time" formControlName="time" required>
                            <span class="label-span">time of Visit</span>
                            <!-- <div class="alert" *ngIf="fc.name.invalid && (fc.name.dirty)">
                                <div *ngIf="fc.name.errors?.['required']">
                                    Name is required.
                                </div>
                                <div *ngIf="fc.name.errors?.['minlength']">
                                    Name must be at least 5 characters long.
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button class="submit" type="submit" >Submit</button>
                <button class="cancel" type="button"  [mat-dialog-close]="false">Cancel </button>
            </div>

        </form>

    </div>