<div mat-dialog-title class="title">
    <h1>Create Invite</h1>
    <h5>You will be sent a confirmation notification when
        your reservation has been confirmed</h5>
</div>
<form [formGroup]="inviteForm" (ngSubmit)="onFormSubmit()">
    <div class="cont" mat-dialog-content >
        <div class="row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Visitor's Name</mat-label>
                <input matInput type="text" placeholder="Ex. John Doe" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Date of Visit</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Email of Visitor</mat-label>
                <input matInput type="text" placeholder="Ex. johndoe@gmail.com" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Time of Visit</mat-label>
                <input matInput type="text" placeholder="Ex. John Doe" formControlName="time">
            </mat-form-field>
        </div>
        
        <div class="row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Phone # of Visitor</mat-label>
                <input matInput type="text" placeholder="Ex. 0912345678" formControlName="number">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Purpose of Visit</mat-label>
                <input matInput type="text" placeholder="Ex. Family Gathering" formControlName="purpose">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-stroked-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-stroked-button color="primary" type="submit">Submit</button>
    </div>
</form>
