.main-cont{
    height: 100%;
}

.sub-cont{
    height: 100%;
}

.cont1{
    padding: 90px 1rem 70px 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
}

.title-cont{
    border: solid var(--black) 1px;
    padding: .5rem;
    border-bottom: none;
}

.title-cont h5, .title-cont h1{
    text-align: center;
}

.title-cont h1 {
    font-size: 10vw;
} 

.title-cont h5 {
    font-size: 3.5vw;
    color: var(--grey);
} 

.contents-cont{
    border: solid var(--black) 1px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    z-index: 2;
    gap: .5rem;
}

.contents-cont h1{
    font-size:8vw;
    text-align: center;
}

.contents-cont form{
    display: flex;
    flex-direction: column;
}

.form-group{
    margin: 0 0 1rem 0 ;
}
.input-cont{
    background-color: var(--white);
    display: flex;
    padding: 10px 10px 10px 7px;
    border: solid 2px var(--orange);
}

.input-cont span{
    cursor: pointer;
    align-self: center;
}

input[type=text], input[type=password], select {
    background-color: var(--white);
    width: 100%;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    font-size: 4.5vw;
}

input[type=text]:focus-visible, input[type=password]:focus-visible, select:focus-visible{
    outline:none ;
}

b{
    font-size: 5vw;
}

.submit-btn{
    cursor: pointer;
    padding: 1rem 1.5rem;
    font-size: 5vw;
    width: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-weight: 600;
    border: none;
    color: var(--white);
    background-color: var(--orange);
}
