
        <div class="cont2">
<div class="title-cont">

    <div class="title">
        <img src="../../../../assets/images/logbook.png" alt="">
        <h2>Request Visit 
            Details</h2>
    </div>
</div>

<div class="contents-cont">

    <ul class="content">
        <div class="col1">
            <li>Visitor's Name: <span> Barack Obama </span> </li>
            <li>Account ID: <span> 123456789 </span> </li>
            <li>Email: <span> Barackobama@gmail.com </span> </li>
            <li>Phone Number: <span> 1234567489 </span> </li>
            <li>Purpose: <span> Family Gathering </span> </li>
            <li>No. of Visitors: <span> 10 </span> </li>
            <li>Transaction ID: <span> 123456789 </span> </li>
        </div>
        <div class="col2">
            <img src="../../../../assets/images/bell1.png" alt="">
            <h5>Once you accept this request a QR-Code will be given to the visitor that requested this visit.</h5>
            <div class="btns">
                <button>Accept</button>
                <button>Reject</button>
            </div>
        </div>
    </ul>
        
</div>
</div>