<div class="main-conte">
    <div class="navbar">

      <div class="title-navbar">
         <h1>Vis<span>Go</span></h1>
         <h5>Camella Homes</h5>
      </div>

      <div class="button-navbars-cont-navbar">
        <div class="button-navbar" routerLink="/userPages/dashboard" routerLinkActive="clicked">
            <img src="assets/images/dashboard.png" alt="">
            <p>Dashboard</p>
        </div>
        <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/logbook">
            <img src="assets/images/logbook.png" alt="">
            <p>System Management</p>
        </div>
        <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/scheduled">
            <img src="assets/images/schedule.png" alt="">
            <p>reports</p>
        </div>
        <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/pending">
            <img src="assets/images/pending.png" alt="">
            <p>Scheduled Visits </p>
        </div>
        <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/location">
            <img src="assets/images/location.png" alt="">
            <p>Logbook</p>
        </div>
      </div>

        <div class="img-navbar" routerLink="/userPages/dashboard" routerLinkActive="unhide">
            <img src="assets/images/dashboard-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/logbook" routerLinkActive="unhide">
            <img src="assets/images/logbook-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/scheduled" routerLinkActive="unhide">
            <img src="assets/images/schedule-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/pending" routerLinkActive="unhide">
            <img src="assets/images/pending-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/location" routerLinkActive="unhide">
            <img src="assets/images/location-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/profile" routerLinkActive="unhide">
            <img src="assets/images/profile-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/create-invite" routerLinkActive="unhide">
            <img src="assets/images/createinvite.jpg" alt="">
        </div>
      </div>
  <div class="sub-conte">
      <div class="cont1s">
          <div class="contents-conte">
            <div class="monthordaily">
                <button class="monthly-btn-user" (click)="Mselected()" [ngClass]="monthly ? 'active' : ''">HOST</button>
                <button class="daily-btn-user"  (click)="Dselected()" [ngClass]="daily ? 'active' : ''">VISITOR</button>
            </div>
              <h1>Add New User</h1>
              <h2>Account Details</h2>

              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="upper">
                  <div class="form-group">
                      <label for="visName"><b>First Name</b></label>
                      <div class="input-cont">
                          <input type="text" name="visName" required formControlName="visName">
                      </div>

                      <div class="alert" *ngIf="fc.visName.invalid && (fc.visName.dirty || fc.visName.touched)">
                          <div *ngIf="fc.visName.errors?.['required']">
                              This is required.
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="visEmail"><b>Last Name</b></label>
                      <div class="input-cont">
                          <input type="text" name="visEmail" required formControlName="visEmail">
                      </div>

                      <div class="alert" *ngIf="fc.visEmail.invalid && (fc.visEmail.dirty || fc.visEmail.touched)">
                          <div *ngIf="fc.visEmail.errors?.['required']">
                              This is required.
                          </div>
                      </div>
                  </div>
                </div>

                  <div class="form-group">
                      <label for="visPhone"><b>E-mail</b></label>
                      <div class="input-cont">
                          <input type="text" name="visPhone" required formControlName="visPhone">
                      </div>

                      <div class="alert" *ngIf="fc.visPhone.invalid && (fc.visPhone.dirty || fc.visPhone.touched)">
                          <div *ngIf="fc.visPhone.errors?.['required']">
                              This is required.
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="visAccID"><b>Contact Number</b></label>
                      <div class="input-cont">
                          <input type="text" name="visAccID" required formControlName="visAccID">
                      </div>

                      <div class="alert" *ngIf="fc.visAccID.invalid && (fc.visAccID.dirty || fc.visAccID.touched)">
                          <div *ngIf="fc.visAccID.errors?.['required']">
                              This is required.
                          </div>
                      </div>
                  </div>

                  <div class="bottom">
                    <div class="form-group">
                        <label for="visPhone"><b>Create Password</b></label>
                        <div class="input-cont">
                            <input type="text" name="visPhone" required formControlName="visPhone">
                        </div>

                        <div class="alert" *ngIf="fc.visPhone.invalid && (fc.visPhone.dirty || fc.visPhone.touched)">
                            <div *ngIf="fc.visPhone.errors?.['required']">
                                This is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date"><b>Confirm Password</b></label>
                        <div class="input-cont">
                            <input type="text" name="date" required formControlName="date">
                        </div>

                        <div class="alert" *ngIf="fc.date.invalid && (fc.date.dirty || fc.date.touched)">
                            <div *ngIf="fc.date.errors?.['required']">
                                This is required.
                            </div>
                        </div>
                    </div>

                  </div>
                    <h2><div class="checkbox">

                    </div><p>Creating you account and accepting the <span>Terms and Conditions</p></span></h2>
                  <div class="btns">
                      <button class="submit-btn" type="submit" (click)="onSubmit">Create Account</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>