<div class="header">
    <div class="cont1-navbar">
        <div class="profile-navbar">
                <img src="assets/images/plus.png" alt="">
                <img src="assets/images/bell1.png" alt="">
                <img src="assets/images/user-profile.png" class="dropdown" routerLink="/">
                <div class="profile-info">
                    <h5>Loreto</h5>
                    <h5><span>Admin Account</span></h5>
            </div>
        </div>
    </div>
  </div>
  <div class="navbar">

    <div class="title-navbar">
       <h1>Vis<span>Go</span></h1>
       <h5>Camella Homes</h5>
    </div>

    <div class="button-navbars-cont-navbar">
      <div class="button-navbar" routerLink="/userPages/dashboard" routerLinkActive="clicked">
          <img src="assets/images/dashboard.png" alt="">
          <p>Dashboard</p>
      </div>
      <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/logbook">
          <img src="assets/images/logbook.png" alt="">
          <p>System Management</p>
      </div>
      <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/scheduled">
          <img src="assets/images/schedule.png" alt="">
          <p>reports</p>
      </div>
      <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/pending">
          <img src="assets/images/pending.png" alt="">
          <p>Scheduled Visits </p>
      </div>
      <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/location">
          <img src="assets/images/location.png" alt="">
          <p>Logbook</p>
      </div>
    </div>

      <div class="img-navbar" routerLink="/userPages/dashboard" routerLinkActive="unhide">
          <img src="assets/images/dashboard-design.jpg" alt="">
      </div>
      <div class="img-navbar" routerLink="/userPages/logbook" routerLinkActive="unhide">
          <img src="assets/images/logbook-design.jpg" alt="">
      </div>
      <div class="img-navbar" routerLink="/userPages/scheduled" routerLinkActive="unhide">
          <img src="assets/images/schedule-design.jpg" alt="">
      </div>
      <div class="img-navbar" routerLink="/userPages/pending" routerLinkActive="unhide">
          <img src="assets/images/pending-design.jpg" alt="">
      </div>
      <div class="img-navbar" routerLink="/userPages/location" routerLinkActive="unhide">
          <img src="assets/images/location-design.jpg" alt="">
      </div>
      <div class="img-navbar" routerLink="/userPages/profile" routerLinkActive="unhide">
          <img src="assets/images/profile-design.jpg" alt="">
      </div>
      <div class="img-navbar" routerLink="/userPages/create-invite" routerLinkActive="unhide">
          <img src="assets/images/createinvite.jpg" alt="">
      </div>
    </div>
  <div class="main-content">



    <div class="title">
      <img src="assets/images/logbook.png" alt="">
      <h1>User Details</h1>
    </div>
    <hr>
    <div class="cont1">
      <div class="circle">

      </div>
      <div class="names">
        <h1>Daniel Maceda</h1>
        <b>123456789</b>
      </div>
    </div>
    <div class="cont2">
      <div class="cont3">
        <h1>Account Type: <span>Visitor</span></h1>

        <li>Account ID: <span>123456789</span></li>
        <li>Name: <span>Daniel Maceda</span></li>
        <li>Age: <span>22</span></li>
        <li>Gender:<span>Male</span></li>
        <li>Date of Birth:<span>02/12/2001</span></li>
        <li>Address: <span>Minuyan Proper San Jose Del Monte Bulacan</span></li>
        <li>Phone Number: <span>09208402888</span></li>
        <li>Email: <span>Danielmaceda123@gmail.com</span></li>
      </div>
      <div class="cont4">
        <b>ID Picture <br> Presented:</b>
        <div class="img-container">
          <b>Attach a picture of ID front and back</b><br>
          <img class="" img src="assets/images/upload.png">
          <b>Select files to Upload</b>
        </div>
      </div>
    </div>
  </div>