
<div class="main-cont">

    <div class="sub-cont">
        <div class="cont1">
            <div class="monthordaily">
                <button class="monthly-btn" (click)="Mselected()" [ngClass]="monthly ? 'active' : ''">MONTHLY</button>
                <button class="daily-btn"  (click)="Dselected()" [ngClass]="daily ? 'active' : ''">DAILY</button>
            </div>

            <div class="date-picker-btn">
                <input type="month" value="{{currentMonth}}" [ngClass]="monthly? '' :'hide'">
                <input type="date" value="{{currentDate}}"  [ngClass]="daily? '' :'hide'">
            </div>
                
            <div class="profile">
                <img src="../../../../assets/images/plus.png" alt=""  routerLink="/userPages/create-invite">
                <img src="../../../assets/images/bell1.png" alt="" (click)="clicked()">
                <img src="../../../assets/images/user-profile.png" class="dropdown" routerLink="/">
                <div class="profile-info">
                    <h5>Loreto</h5>
                    <h5><span>Host Account</span></h5>
                </div>
            </div>
            <!-- <app-notifications [ngClass]="notif ? '' : 'hide'"></app-notifications> -->
            <div class="notif-box" [ngClass]="notif ? '' : 'hide'">
                <div class="notif-title-cont">
                    <img src="../../../../assets/images/bell1.png" alt="">
                    <h1>Notification</h1>
                </div>
                <div class="notif-content">
                    <div class="notif-item">
                        <img src="../../../../assets/images/user.png" alt="">
                        <div class="notif-text">
                            <h4>Ejay Olivar</h4>
                            <p>@Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="cont2">
            <div class="title-cont">

                <div class="title">
                    <img src="../../../assets/images/logbook.png" alt="">
                    <h2>Logbook</h2>
                </div>
                
                <div class="filter">
                    <select name="filter" id="filter-select">
                        <option value="all">All</option>
                        <option value="Ongoing">Ongoing</option>
                        <option value="Complete">Complete</option>
                    </select>
                </div>
            </div>
    
            <div class="contents-cont">
    
                <ul class="content" routerLink="/userPages/visits-details">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                    
                <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                    
                <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                    
                <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                    
                <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                    
                <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                

                <table class="table">
                    <tr>
                        <th class="col-1">#</th>
                        <th>Visitor</th>
                        <th>Acc ID</th>
                        <th>Date</th>
                        <th>Check In</th>
                        <th>Check Out</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td class="col-1">1</td>
                        <td>Barack Obama</td>
                        <td>123456789</td>
                        <td>04/14/23</td>
                        <td>12:00pm</td>
                        <td>12:00pm</td>
                        <td>Complete</td>
                        <td routerLink="/userPages/visits-details"><span>View detail</span></td>
                    </tr>
                    <tr>
                        <td class="col-1">1</td>
                        <td>Barack Obama</td>
                        <td>123456789</td>
                        <td>04/14/23</td>
                        <td>12:00pm</td>
                        <td>12:00pm</td>
                        <td>Complete</td>
                        <td><span>View detail</span></td>
                    </tr>
                    <tr>
                        <td class="col-1">1</td>
                        <td>Barack Obama</td>
                        <td>123456789</td>
                        <td>04/14/23</td>
                        <td>12:00pm</td>
                        <td>12:00pm</td>
                        <td>Complete</td>
                        <td><span>View detail</span></td>
                    </tr>
                    <tr>
                        <td class="col-1">1</td>
                        <td>Barack Obama</td>
                        <td>123456789</td>
                        <td>04/14/23</td>
                        <td>12:00pm</td>
                        <td>12:00pm</td>
                        <td>Complete</td>
                        <td><span>View detail</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
