<div class="main-cont">
    <div class="cont1-navbar">
        <div class="profile-navbar">
                <img src="assets/images/plus.png" alt="">
                <img src="assets/images/bell1.png" alt="">
                <img src="assets/images/user-profile.png" class="dropdown" routerLink="/">
                <div class="profile-info">
                    <h5>Loreto</h5>
                    <h5><span>Admin Account</span></h5>
            </div>
        </div>
    </div>
    <div class="navbar">
  
      <div class="title-navbar">
         <h1>Vis<span>Go</span></h1>
         <h5>Camella Homes</h5>
      </div>
  
      <div class="button-navbars-cont-navbar">
        <div class="button-navbar" routerLink="/userPages/dashboard" routerLinkActive="clicked">
            <img src="assets/images/dashboard.png" alt="">
            <p>Dashboard</p>
        </div>
        <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/logbook">
            <img src="assets/images/logbook.png" alt="">
            <p>System Management</p>
        </div>
        <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/scheduled">
            <img src="assets/images/schedule.png" alt="">
            <p>reports</p>
        </div>
        <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/pending">
            <img src="assets/images/pending.png" alt="">
            <p>Scheduled Visits </p>
        </div>
        <div class="button-navbar" routerLinkActive="clicked" routerLink="/userPages/location">
            <img src="assets/images/location.png" alt="">
            <p>Logbook</p>
        </div>
      </div>
  
        <div class="img-navbar" routerLink="/userPages/dashboard" routerLinkActive="unhide">
            <img src="assets/images/dashboard-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/logbook" routerLinkActive="unhide">
            <img src="assets/images/logbook-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/scheduled" routerLinkActive="unhide">
            <img src="assets/images/schedule-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/pending" routerLinkActive="unhide">
            <img src="assets/images/pending-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/location" routerLinkActive="unhide">
            <img src="assets/images/location-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/profile" routerLinkActive="unhide">
            <img src="assets/images/profile-design.jpg" alt="">
        </div>
        <div class="img-navbar" routerLink="/userPages/create-invite" routerLinkActive="unhide">
            <img src="assets/images/createinvite.jpg" alt="">
        </div>
      </div>
      <div class="sub-cont">
          <div class="cont2">
              <div class="title-cont">
  
                  <div class="title">
  
                      <h2><img src="assets/images/logbook.png" alt="">Scheduled Visits</h2>
                  </div>
  
                  <div class="filter">
                      <img src="assets/images/filter.png" alt="">
                      <h4>All</h4>
                  </div>
              </div>
  
              <div class="contents-cont">
  
                  <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Host: <span> Barack Obama </span> </li>
                    <li>Account ID: <span> 123456789 </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Account Type: <span> Host </span> </li>
                  </ul>
  
                  <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Host: <span> Barack Obama </span> </li>
                    <li>Account ID: <span> 123456789 </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Account Type: <span> Host </span> </li>
                  </ul>
  
                  <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Host: <span> Barack Obama </span> </li>
                    <li>Account ID: <span> 123456789 </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Account Type: <span> Host </span> </li>
                  </ul>
  
                  <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Host: <span> Barack Obama </span> </li>
                    <li>Account ID: <span> 123456789 </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Account Type: <span> Host </span> </li>
                  </ul>
  
                  <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Host: <span> Barack Obama </span> </li>
                    <li>Account ID: <span> 123456789 </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Account Type: <span> Host </span> </li>
                  </ul>
  
                  <ul class="content">
                      <li>#: <span> 1 </span> </li>
                      <li>Host: <span> Barack Obama </span> </li>
                      <li>Account ID: <span> 123456789 </span> </li>
                      <li>Email: <span> Barackobama@gmail.com </span> </li>
                      <li>Account Type: <span> Host </span> </li>
                  </ul>
  
  
                  <table class="table">
                      <tr>
                          <th class="col-1">#</th>
                          <th>Host</th>
                          <th>Account ID</th>
                          <th>Email</th>
                          <th>Account Type</th>
  
                      </tr>
                      <tr>
                          <td class="col-1">1</td>
                          <td>Barack Obama</td>
                          <td>123456789</td>
                          <td>Barackobama@gmail.com</td>
                          <td>Host</td>
                          <td><span>View detail</span></td>
                      </tr>
                      <tr>
                          <td class="col-1">1</td>
                          <td>Barack Obama</td>
                          <td>123456789</td>
                          <td>Barackobama@gmail.com</td>
                          <td>Visitor</td>
                          <td><span>View detail</span></td>
                      </tr>
                      <tr>
                          <td class="col-1">1</td>
                          <td>Barack Obama</td>
                          <td>123456789</td>
                          <td>Barackobama@gmail.com</td>
                          <td>Host</td>
                          <td><span>View detail</span></td>
                      </tr>
                      <tr>
                          <td class="col-1">1</td>
                          <td>Barack Obama</td>
                          <td>123456789</td>
                          <td>Barackobama@gmail.com</td>
                          <td>Visitor</td>
                          <td><span>View detail</span></td>
                      </tr>
                  </table>
              </div>
          </div>
      </div>
  
  </div>