

<div class="main-cont">

    <div class="sub-cont">

        <div class="cont2">
            <div class="title-cont">
                <div class="title">
                    <img src="../../../assets/images/user.png" alt="">
                    <h2>Account Profile</h2>
                </div>
            </div>

            <div class="contents-cont">

                <div class="prof-cont1">
                    
                    <div class="prof-pic">
                        <img src="../../../../assets/images/user-profile.png" alt="">
                        <div class="basic-details">
                            <p>Host's Account</p>
                            <p>Ejay Olivar</p>
                            <p>123456789</p>
                        </div>
                    </div>

                    <div class="edit-profile">
                        <img src="../../../../assets/images/edit-tool.png" alt="">
                    </div>
                </div>
                
                <div class="personal-info">
                    <ul class="content">
                        <li> <p> Name: <span> Ejay Olivar </span> </p></li>
                        <li> <p> Account ID: <span> 123456789 </span> </p></li>
                        <li> <p> Email: <span> ejayolivar123@gmail.com </span> </p></li>
                        <li> <p> Address: <span> 12345 Santa Cruz 
                            Street Kawit, Cavite </span> </p></li>
                        <li> <p> Phone Number: <span>123456789</span> </p></li>
                        <li> <p> Gender: <span> Male</span> </p></li>
                        <li> <p> Age: <span> 22 </span> </p></li>
                        <li> <p> Date of Birth: <span> 09/12/200</span> </p></li>
                    </ul>

                    <div class="id-cont">
                        <p>ID Picture Presented:</p>
                        <div class="input-img">
                            <span class="drop-title">Drop files here</span>
                            <input type="file" (change)="onselectFile($event)">
                            <img [src]="url" alt="">
                            <input type="submit">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>
