.main-cont{
    height: 100%;
}

.sub-cont{
    height: 100%;
}

.cont1{
    padding: 90px 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: .5rem;
}

.monthordaily{
    display: flex;
    width: 100%;
}

.daily-btn, .monthly-btn{
    width: 100%;
    padding: .5rem .5rem;
    font-size: 4vw;
    font-weight: 700;
    background-color: var(--white);
    border: solid 2px var(--black);
    cursor: pointer;
}

.daily-btn{
    border-left: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.monthly-btn{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.active{
    background-color: var(--black);
    color: var(--white);
}


input[type="month"], input[type="date"]{
    font-weight: 600;
    padding: .5rem;
    background-color: var(--white);
    border: 2px solid var(--black);
    text-align: center;
    font-size: 4vw;
    width: 100%;
    border-radius: 8px;
}

.hide{
    display: none;
}

.date-picker-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5rem;
}

.date-picker-btn img{
    width: 18%;
}

.date-picker-btn p{
    font-weight: 600;
    font-size: 4.5vw;
}

.cont2{
    margin: 1rem 1rem 0rem 1rem;
    padding-bottom: 70px;
}

.contents-cont{
    border: solid var(--black) 1px;
}

.title-cont{
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: .5rem;
    border: solid var(--black) 1px;
    border-bottom: none;
}

.title{
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 80%;
}
.title h2{
    font-size: 6vw;
}
.title img{
    width:15% ;
}

.filter{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    width: 10%;
}

.filter img{
    width: 100%;
}

.contents-cont::-webkit-scrollbar{
    display: none;
}

.content{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .8rem;
    border:solid var(--black) 1px;
    padding: .5rem;
}

.content li{
    margin: .1rem 0;
    font-size: 4vw;
    font-weight: 600;
    text-align: justify;
    letter-spacing: 1px;
}

.profile, .create-invite-btn, .table, .filter h4{
    display: none;
}

@media (min-width: 640px) {
    .main-cont{
        padding: 0 0 0 20%;
    }

    .cont1{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 80px 40px 0 40px;
    }
    .cont2{
        margin: 20px 40px;
        height: 80%;
    }

    .contents-cont{
        height: 91%;
    }
    .content{
        display: none;
    }

    .title-cont{
        padding: .7rem;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .title img{
        width: 8%;
    }
    .filter img{
        width: 40%;
    }
    
    .filter{
        justify-content: flex-end;
    }
    .filter h4{
        display: block;
        font-size: 2vw;
    }

    .daily-btn, .monthly-btn{
        padding: .27rem .27rem;
    }
    .monthordaily{
        width: 30%;
    }

    .date-picker-btn{
        width: 30%;
    }

    .profile{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 30%;
        gap:.5rem;
    }
    .profile img{
        width: 12%;
    }

    .dropdown{
        cursor: pointer;
    }


    .profile h5 span{
        color: var(--grey);
    }

    .table{
        display: table;
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid var(--black);
    }


    .table th, .table td{
        padding: 8px;
    }

    .table th{
        font-size: 1.8vw;
        font-weight: 600;
    }

    .table td{
        font-size: 1.5vw;
        border-top: 1px solid var(--black);
    }

    .table span{
        color: var(--grey);
        cursor: pointer;
        font-size: 1vw;
    }

    .title h2{
        font-size: 3vw;
    }

    .daily-btn, .monthly-btn , .profile h5, .date-picker-btn p{
        font-size: 1.5vw;
    }

    input[type=month], input[type="date"]{
        font-size: 1.3vw;
        width: 75%;
        padding: .1rem;
    }

}

@media (min-width:1024px) {
    .col-1{
        border-right: 1px solid var(--grey);
    }
    .cont2{
        height: 82%;
        padding-bottom: 0;
    }

    .profile img{
        width: 10%;
    }

    .title img{
        width: 6%;
    } 

    .filter img{
        width: 30%;
    } 

    .title h2{
        font-size: 2.5vw;
    }

    .daily-btn, .monthly-btn , .profile h5{
        font-size: 1vw;
    }
    .filter h4{
        font-size: 1.5vw;
    }

}

@media (min-width: 1440px) {

    .create-invite-btn {
        width: 30%;
    }
    .contents-cont{
        height: 89%;
    }

}

@media (min-width:1024px) and (max-height:950px){
    .cont1{
        padding: 46px 40px 0 40px;
    }
    .create-invite-btn {
        width: 25%;
    }

    .cont2{
        height: 80%;
    }
}