<div class="title-cont">

    <div class="title">
        <h1>Vis<span>Go</span></h1>
        <h5>Camella Homes</h5>
    </div>
    
    <div class="buttons-cont">
        <div class="button">
            <img src="../../../assets/images/bell.png" alt="">
            <p>NOTIF</p>
        </div>
        <div class="button">
            <img src="../../../assets/images/plus.png" routerLink="/userPages/create-invite" alt="">
            <p>INVITE</p>
        </div>
        <div class="button" routerLink="/userPages/profile">
            <img src="../../../../assets/images/user.png" alt="">
            <p>HOST</p>
        </div>
        <div class="button" routerLink="/">
            <img src="../../../assets/images/logout.png" alt="">
            <p>LOGOUT</p>
        </div>
    </div>
</div>


