@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
:root{
    --orange:#EF9273;
    --black:#000000;
    --white:#FFF1E1;
    --grey: rgba(0, 0, 0, 0.5);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}

html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

.mat-input-element {
    position: relative;
  }
  
  .mat-input-element::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff0000; /* Replace with your desired border color */
  }