@import url(../details-of-visits/details-of-visits.component.css);

.content img{
    width: 70%;
    margin: auto;
}


@media (min-width: 640px) {
    .col1{
        gap: .5rem;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .col1{
        gap: 1rem;
    }
    .content img{
        width: 60%;
    }
}