
<div class="cont2">
    <div class="title-cont">

        <div class="title">
            <img src="../../../../assets/images/logbook.png" alt="">
            <h2>Scheduled Visit 
                Details</h2>
        </div>
    </div>

    <div class="contents-cont">

        <ul class="content">
            <div class="col1">
                <li>Visitor's Name: <span>{{inviteData.name}}</span> </li>
                <li>Email: <span> {{inviteData.email}}</span> </li>
                <li>Phone Number: <span> {{inviteData.number}}</span> </li>
                <li>Purpose: <span> {{inviteData.purpose}} </span> </li>
                <li>Relationship: <span> Family</span> </li>
                <li>Transaction ID: <span>{{inviteData.id}} </span> </li>
            </div>
            <div class="col2">
                <img src="../../../../assets/images/qr-code.jpg" alt="">
            </div>
        </ul>
            
    </div>
</div>
