
<div class="cont2">
    <div class="title-cont">

        <div class="title">
            <img src="../../../../assets/images/logbook.png" alt="">
            <h2>Scheduled Visit 
                Details</h2>
        </div>
    </div>

    <div class="contents-cont">

        <ul class="content">
                <li> <p>Visitor's Name: <span>{{data.name}}</span> </p> </li>
                <li> <p>Email: <span> {{data.email}}</span> </p> </li>
                <li> <p>Phone Number: <span> {{data.number}} </span> </p> </li>
                <li> <p>Purpose: <span> {{data.purpose}}</span> </p> </li>
                <li> <p>Relationship:<span> Family </span> </p> </li>
                <li> <p>Transaction ID: <span> 123456789 </span> </p> </li>
                <img src="../../../../assets/images/qr-code.jpg" alt="">
        </ul>
            
    </div>
</div>
