<div class="main-cont">

    <div class="sub-cont">
        
        <div class="cont1">
            <div class="profile">
                <img src="../../../../assets/images/plus.png" alt=""  routerLink="/userPages/create-invite">
                <img src="../../../assets/images/bell1.png" alt="">
                <img src="../../../assets/images/user-profile.png" class="dropdown" routerLink="/">
                <div class="profile-info">
                    <h5>Loreto</h5>
                    <h5><span>Host Account</span></h5>
                </div>
            </div>
        </div>
    
        <div class="cont2">
            <div class="title-cont">

                <div class="title">
                    <img src="../../../assets/images/pending.png" alt="">
                    <h2>Pending Requests</h2>
                </div>


            </div>
    
            <div class="contents-cont">
    
                <ul class="content" routerLink="/userPages/request-visits-details">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                    
                <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                    
                <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                    
                <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                    
                <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                    
                <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                

                <table class="table">
                    <tr>
                        <th class="col-1">#</th>
                        <th>Visitor</th>
                        <th>Email</th>
                        <th>Acc ID</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                    <tr>
                        <td class="col-1">1</td>
                        <td>Barack Obama</td>
                        <td>Barackobama@gmail.com</td>
                        <td>123456789</td>
                        <td>04/14/23</td>
                        <td>12:00pm</td>
                        <td routerLink="/userPages/request-visits-details"><span>View detail</span></td>
                    </tr>
                    <tr>
                        <td class="col-1">1</td>
                        <td>Barack Obama</td>
                        <td>Barackobama@gmail.com</td>
                        <td>123456789</td>
                        <td>04/14/23</td>
                        <td>12:00pm</td>
                        <td><span>View detail</span></td>
                    </tr>
                    <tr>
                        <td class="col-1">1</td>
                        <td>Barack Obama</td>
                        <td>Barackobama@gmail.com</td>
                        <td>123456789</td>
                        <td>04/14/23</td>
                        <td>12:00pm</td>
                        <td><span>View detail</span></td>
                    </tr>
                    <tr>
                        <td class="col-1">1</td>
                        <td>Barack Obama</td>
                        <td>Barackobama@gmail.com</td>
                        <td>123456789</td>
                        <td>04/14/23</td>
                        <td>12:00pm</td>
                        <td><span>View detail</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
