<div class="navbar">

    <div class="title">
       <h1>Vis<span>Go</span></h1>
       <h5>Camella Homes</h5>
    </div>

    <div class="buttons-cont">
        <div class="button" (click)="Dashselected()" [ngClass]="dashboard ? 'clicked': ''">
            <img src="../../../assets/images/dashboard.png" alt="">
            <p>Dashboard</p>
        </div>
        <div class="button" (click)="Logselected()" [ngClass]="logbook ? 'clicked': ''">
            <img src="../../../assets/images/logbook.png" alt="">
            <p>Logbook</p>
        </div>
        <div class="button" (click)="Schedselected()" [ngClass]="schedule ? 'clicked': ''">
            <img src="../../../../assets/images/schedule.png" alt="">
            <p>Schedule</p>
        </div>
        <div class="button" (click)="Pendselected()" [ngClass]="pending ? 'clicked': ''">
            <img src="../../../assets/images/pending.png" alt="">
            <p>Pending </p>
        </div>
        <div class="button" (click)="Locselected()" [ngClass]="location ? 'clicked': ''">
            <img src="../../../assets/images/location.png" alt="">
            <p>Location</p>
        </div>
        <div class="button" (click)="Profselected()" [ngClass]="profile ? 'clicked': ''">
            <img src="../../../assets/images/user.png" alt="">
            <p>Profile</p>
        </div>
    </div>

    <div class="img" [ngClass]=" dashboard ? 'unhide': ''">
        <img src="../../../assets/images/dashboard-design.jpg" alt="">
    </div>
    <div class="img" [ngClass]=" logbook ? 'unhide': ''">
        <img src="../../../assets/images/logbook-design.jpg" alt="">
    </div>
    <div class="img" [ngClass]=" schedule? 'unhide': ''">
        <img src="../../../assets/images/schedule-design.jpg" alt="">
    </div>
    <div class="img" [ngClass]=" pending ? 'unhide': ''">
        <img src="../../../assets/images/pending-design.jpg" alt="">
    </div>
    <div class="img" [ngClass]=" location ? 'unhide': ''">
        <img src="../../../assets/images/location-design.jpg" alt="">
    </div>
    <div class="img" [ngClass]=" profile ? 'unhide': ''">
        <img src="../../../assets/images/profile-design.jpg" alt="">
    </div>
</div>