<div class="main-cont">

    <div class="sub-cont">
    
        <div class="cont2">
            <div class="title-cont">

                <div class="title">
                    <img src="../../../assets/images/location.png" alt="">
                    <h2>Track the Location of your Visitors</h2>
                </div>
            </div>
    
            <div class="contents-cont">
    
                <ul class="content" (click)="viewDetails()">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                    
                <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                    
                <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                    
                <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                    
                <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                    
                <ul class="content">
                    <li>#: <span> 1 </span> </li>
                    <li>Visitor: <span> Barack Obama </span> </li>
                    <li>Email: <span> Barackobama@gmail.com </span> </li>
                    <li>Date: <span> April 24,2023 </span> </li>
                    <li>Time: <span> 12:00nn </span> </li>
                </ul>
                

                <table class="table">
                    <tr>
                        <th class="col-1">#</th>
                        <th>Visitor</th>
                        <th>Email</th>
                        <th>Acc ID</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                    <tr>
                        <td class="col-1">1</td>
                        <td>Barack Obama</td>
                        <td>Barackobama@gmail.com</td>
                        <td>123456789</td>
                        <td>04/14/23</td>
                        <td>12:00pm</td>
                        <td (click)="viewDetails()"><span>View Live Location</span></td>
                    </tr>
                    <tr>
                        <td class="col-1">1</td>
                        <td>Barack Obama</td>
                        <td>Barackobama@gmail.com</td>
                        <td>123456789</td>
                        <td>04/14/23</td>
                        <td>12:00pm</td>
                        <td><span>View Live Location</span></td>
                    </tr>
                    <tr>
                        <td class="col-1">1</td>
                        <td>Barack Obama</td>
                        <td>Barackobama@gmail.com</td>
                        <td>123456789</td>
                        <td>04/14/23</td>
                        <td>12:00pm</td>
                        <td><span>View Live Location</span></td>
                    </tr>
                    <tr>
                        <td class="col-1">1</td>
                        <td>Barack Obama</td>
                        <td>Barackobama@gmail.com</td>
                        <td>123456789</td>
                        <td>04/14/23</td>
                        <td>12:00pm</td>
                        <td><span>View Live Location</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
