<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="background-pic"></div>

    <div class="title-cont">
        <h1>Vis<span>Go</span></h1>
        <div class="register-pic"> </div>
    </div>

    <div class="main-cont">
        <div class="sub-cont1">
            <p>Already have account? <span routerLink="/VisitorLogin">Sign in here!</span></p>
            <h1>Create an <span>Visitor Account</span></h1>
        </div>

        <div class="sub-cont2">

            <label for="name"><b>Name <span>(FN & LN)</span></b></label>
            <input type="text" name="name" required>
            
            <label for="email"><b>Email</b></label>
            <input type="text" name="email" required>

            <label for="pass"><b>Password</b></label>
            <input type="password" name="pass" required>

            <label for="con-pass"><b>Confirm Password</b></label>
            <input type="password" name="con-pass" required>

        </div>

        <div class="sub-cont3">
            <label class="label">
                <input type="checkbox">
                <div class="customCheckbox"></div>
                <p>Creating your account and accepting the <span>Terms & Condition.</span> </p>
            </label>
        </div>

        <div class="sub-cont4">
            <button class="create-btn" routerLink="/VisitorLogin">Create Account</button>
        </div>
    </div>
</body>
</html>