
        <div class="cont2">
            <div class="title-cont">

                <div class="title">
                    <img src="../../../../assets/images/logbook.png" alt="">
                    <h2>Scheduled Visit 
                        Details</h2>
                </div>
            </div>

            <div class="info-cont">

                <h5>Name of visitor: Ejay Olivar</h5>
                <h5>Account ID: 123456789</h5>
            </div>
    
            <div class="contents-cont">
    
                <div class="content">
                    <img src="../../../../assets/images/currentloc.jpg" alt="">
                </div>
                    
            </div>
        </div>